.App {
  min-height: 100vh;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  background-size: auto;
}

/*https://dev.to/sanchithasr/3-ways-to-center-elements-in-css-1m43#:~:text=3%20Ways%20To%20Center%20Elements%20In%20CSS%201,of%20grid.%20...%203%203.%20Using%20Position%20Property*/
main{
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 0.25rem 0;
  padding: 1rem;
  border:none;
  border-radius: 10px;
  background-color: #393d45;
  color: white;
}

textarea {
  margin: 0.25rem 0;
  padding: 1rem;
  border:none;
  border-radius: 10px;
  background-color: #393d45;
  color: white;
}

.chakra-stack{
  width: 40rem;
}


button:hover:enabled{
  animation: change-color 0.5s linear;
  background-color: #61dafb;
  color: black;
}

@keyframes change-color {
  0%{
    background-color: #393d45;
    color: white;
  }
  100% {
    background-color: #61dafb;
    color: black;
  }
}

.nav{
  background-color: #393d45;
  width: 100%;
  max-height: 100vh;
  display: flex;
  text-align: center;
  position: sticky;
  top:0;
}

.nav-cim{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-cim-header{
  font-family: Algerian;
  font-size: 6vh;
}

.nav-item{
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color:white;
}

.nav-item:hover {
  color: #61dafb;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.copyright{
  right:2rem;
  font-size: 16px;
  text-align: right;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ffffff;
  width: 10rem;
  border-radius: 10px;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 16px;
}

.custom-file-upload:hover{
  animation: change-color 0.5s linear;
  background-color: #61dafb;
  color: black;
}

.scanners{
  border: 1px solid #61dafb;
  border-radius: 15px;
}

.ocr-result{
  font-size:1rem;
}
